### Import Library

In [1]:
import re
import pandas as pd
from sklearn.model_selection import train_test_split

### Train and Test Dataset - Sentiment

In [2]:
df11 = pd.read_csv('../Datasets/ShortSummary.csv')
df11.head()

,Excerpt,Summary
0,Texas has become the most populous state to ba...,Texas Bans Youth Gender Care
1,The civil rights organization has warned that ...,State Hostility Toward Minorities
2,New Group Leader Chao Sun is first author of a...,"""Chao Sun Uncovers 19s Particle Role"""
3,Semiconductors made in space may be better tha...,Space-made Semiconductors Superior
4,President Biden on Tuesday took aim at Russian...,Biden Criticizes Putin's Aggression

In [3]:
df1 = df11.sample(frac=0.5, random_state=48)

In [4]:
df2 = pd.read_csv('../Datasets/CNNSummary.csv')
df2.head()

,article,highlights
0,(CNN)The Palestinian Authority officially beca...,Membership gives the ICC jurisdiction over all...
1,(CNN)Never mind cats having nine lives. A stra...,"Theia, a bully breed mix, was apparently hit b..."
2,"(CNN)If you've been following the news lately,...",Mohammad Javad Zarif has spent more time with ...
3,(CNN)Five Americans who were monitored for thr...,17 Americans were exposed to the Ebola virus w...
4,(CNN)A Duke student has admitted to hanging a ...,Student is no longer on Duke University campus...

In [5]:
df1.columns = ['text', 'summary']
df2.columns = ['text', 'summary']

In [6]:
df = pd.concat([df1, df2], ignore_index=True).sample(
    frac=1, ignore_index=True, random_state=42
)
df.head()

,text,summary
0,"As temperatures warm, harmful algal blooms wil...",Warming Increases Algal Blooms Threat
1,The army said the outdoor lab was discovered i...,Outdoor drug lab found.
2,Democratic North Carolina state Sen. Natasha M...,Sen. Natasha Marcus Won't Seek Re-election
3,Nehls comments came as Congress is trying to a...,Nehls on Budget Deadline
4,"Historians have unearthed nearly 2,000 perfect...","More than 2,000 perfectly preserved inscriptio..."

In [7]:
temp, df_test = train_test_split(df, test_size=0.01, random_state=24)               # test dataset
df_train, df_val = train_test_split(temp, test_size=0.3/0.99, random_state=24)      # train and validation dataset

In [8]:
df_train[:10000].to_csv("../Datasets/TrainSummary.csv", index=False)
df_val[:3000].to_csv("../Datasets/ValidationSummary.csv", index=False)
df_test[:200].to_csv("../Datasets/TestSummary.csv", index=False)